body{
    margin:0;
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;

    background-image:url('https://i.pinimg.com/originals/e9/9e/80/e99e802a91d74dca40fd2ed68fd23ad8.jpg');
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;

    font-family:'Poppins', sans-serif;

    overflow-x:hidden;
    position:relative;
}

body::before{
    content:'';
    position:absolute;
    inset:0;
    background:rgba(255,255,255,0.45);
    z-index:0;
}

.carta{
    position:relative;
    z-index:2;

    background:rgba(255,192,203,0.3);
    backdrop-filter:blur(6px);

    width:65%;
    max-width:550px;
    padding:30px;
    border-radius:20px;
    box-shadow:0 10px 30px rgba(0,0,0,0.3);

    text-align:center;
}

h1{
    color:#ff4d6d;
    font-weight:700;
    letter-spacing:1px;
}

p{
    font-size:18px;
    line-height:1.7;
    color:#444;
    font-weight:500;
}

.alert{
    position:absolute;
    z-index:2;

    background:white;
    padding:15px 25px;
    border-radius:15px;
    box-shadow:0 5px 15px rgba(0,0,0,0.2);

    font-weight:700;
    color:#ff4d6d;

    animation:flotar 3s ease-in-out infinite;
}

.alert1{
    top:10%;
    left:5%;
}

.alert2{
    top:35%;
    left:8%;
}

.alert3{
    bottom:15%;
    left:6%;
}

.alert4{
    top:15%;
    right:5%;
}

.alert5{
    top:45%;
    right:8%;
}

.alert6{
    bottom:18%;
    right:6%;
}

.alert7{
    top:65%;
    left:12%;
}

.alert8{
    top:70%;
    right:12%;
}

.alert9{
    top:5%;
    left:40%;
}

.alert10{
    bottom:5%;
    right:35%;
}

.corazones{
    position:absolute;
    top:20px;

    z-index:2;

    font-size:35px;

    animation:flotar 3s ease-in-out infinite;
}

.decoracion{
    position:absolute;
    z-index:2;
    font-size:40px;
    animation:flotar 4s ease-in-out infinite;
}

.deco1{
    top:25%;
    left:25%;
}

.deco2{
    bottom:25%;
    right:25%;
}

.deco3{
    bottom:8%;
    left:30%;
}

.deco4{
    top:8%;
    right:30%;
}

@keyframes flotar{

    0%{
        transform:translateY(0px);
    }

    50%{
        transform:translateY(-10px);
    }

    100%{
        transform:translateY(0px);
    }

}

@media(max-width:768px){

    body{
        padding:20px;
        overflow:auto;
        flex-direction:column;
        gap:10px;
    }

    .carta{
        width:85%;
        padding:20px;
        border-radius:15px;
    }

    h1{
        font-size:26px;
    }

    p{
        font-size:16px;
        line-height:1.6;
    }

    .alert{
        position:static;
        margin:8px auto;

        width:fit-content;

        display:block;

        text-align:center;

        animation:none;

        font-size:14px;

        padding:10px 18px;
    }

    .decoracion{
        position:static;
        font-size:28px;
        animation:none;
    }

    .corazones{
        position:static;
        font-size:28px;
    }

}