.center-box {
      flex: 1;
      display: flex;
      justify-content: center;
    }
    .search-box {
      width: 200px;
    }
    .carousel img {
      height: 200px;
      object-fit: cover;
    }
    .container.mt-5 {
        background-color: rgb(244, 244, 244);
    }
    .burbuja {
      border-radius: 50px;
      padding: 30px;
      background-color: #a7a7a7;
      text-align: center;
      box-shadow: 0 0 10px rgba(0,0,0,0.1);
      margin: 10px;
    }
    .footer {
      background-color: #212529;
      color: white;
      text-align: center;
      padding: 20px;
      margin-top: 20px;
    }